@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Polices personnalisées */
@font-face {
  font-family: ascender;
  src: url('/fonts/Ascender.ttf');
  font-display: swap;
}

@font-face {
  font-family: redRose;
  src: url('/fonts/RedRose-Bold.ttf');
  font-display: swap;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* WALLPAPER */
#btnInfo {
 font-family: redRose; 
}

/* PRESENT*/
#hrefBuy {
  font-family: redRose;
}

/* JACKET */
#pitchJacket {
  font-family: redRose;
}

#sentenceJacket {
  letter-spacing: 2px;
  font-family: ascender;
}

/* BUY */
#synopsis {
  letter-spacing: 2px;
  font-family: ascender;
}

#btnPlaystation {
  font-family: redRose;
  background-color: darkblue;
}

#btnXbox {
  font-family: redRose;
  background-color: darkgreen;
}

#btnSteam {
  font-family: redRose;
  background-color: rgb(81, 81, 81);
}

/* Styles responsives */
@media screen and (max-width: 768px) {
  #logoOutsider {
    height: 140px;
    width: 250px;
    margin-left: 20px;
  }

  #mainWallpaper {
    margin-bottom: -40px;
    width: 100%;
  }

  #subWallpaper {
    width: 100%;
    max-width: 400px;
  }

  #imgJacket {
    width: 500px;
  }

  #sentenceJacket {
    font-size: 0.8em;
  }

  #jacket {
    height: 400px;
    max-width: 350px;
  }

  #btnPlaystation, #btnXbox, #btnSteam {
    font-size: 0.7em;
  }
}

@media screen and (max-width: 767px) {
  #pitchJacket {
    font-size: 1.4em;
  }

  #sentenceJacket {
    font-size: 1.0em;
  }
}

@media screen and (max-width: 425px) {
  #mainGameplay {
    height: 400px;
  }

  #logoTitle {
    height: 100px;
    max-width: 500px;
  }  

  #btnGame {
    margin-top: 2px;
    font-size: 0.7em;
  }

  #pitchJacket {
    font-size: 1.2em;
  }

  #sentenceJacket {
    font-size: 0.8em;
  }

  #btnPlaystation, #btnXbox, #btnSteam {
    font-size: 0.9em;
  }
}

@media screen and (max-width: 375px) {
  #btnInfo {
    font-size: 0.8em;
  }

  #pitchJacket {
    font-size: 1.0em;
  }

  #sentenceJacket {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 341px) {
  #btnGame {
    font-size: 0.6em;
  }
}

@media screen and (max-width: 320px) {
  #btnInfo {
    font-size: 0.6em;
  }

  #pitchJacket {
    font-size: 1.0em;
  }

  #sentenceJacket {
    font-size: 0.8em;
  }
}
